/*Use this for custom stuff*/
.marketing {
	margin-top: 30px;
}
.brand,
.logo-img {
	height: 6%;
}
body {font-family: "Podkova",serif;
	font-size:200%;
	 font-weight:400;
	 background-image: url('../img/backdrop.png');

}
.backcolor{background-color:#FFA500}
.carousel-caption{
font-weight:bold;
}
h1 {font-family: Palatino, "Palatino Linotype", "Palatino LT STD","Book Antiqua", Georgia, serif;}

.burger {font-size:80%;}
.sauce{font-weight:bold;}
.battle{height:120px; width: auto; :}
.follow{text-align: center;}

.content-area {
	background-color:white ;
	margin-left: 5%;
	margin-right: 99px;
}

.navbar-wrapper{
	padding-right: 0px;
	padding-left: 0px;
}