/*Use this for custom stuff*/
.marketing {
	margin-top: 30px;
}
.brand,
.logo-img {
	height: 6%;
}
body {font-family: "Podkova",serif;
	font-size:200%;
	 font-weight:400;
}
.carousel-caption{
font-weight:bold;



}